.appbar {
  box-sizing: border-box;
  width: 100vw;
  min-height: 88px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0 2px 4px #fff;
}

.appbar a {
  font-size: 14px;
  margin: 0 8px;
  padding: 10px 16px;
  background-color: var(--bg-dark);
  border-radius: 2px;
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
}

.appbar a:hover {
  cursor: pointer;
  background-color: #26334990;
  transition: 0.2s;
}
