.listing {
  padding: 16px;
  background: #fff;
  width: 95%;
  height: 80px;
  border-radius: 4px;
  color: var(--bg-dark);
  box-shadow: 0 2px 2px var(--bg-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  transition: 0.2s;
}

.listing:hover {
  box-shadow: 0 2px 4px var(--bg-dark);
  background: var(--font-blue-op);
  transition: 0.2s;
  cursor: pointer;
}

.listing p {
  color: var(--bg-dark);
}

.listing .caption {
  font-weight: 200;
  color: #121212;
}
