.unitList {
  box-sizing: border-box;
  height: 720px;
  width: 1200px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  box-shadow: 0 2px 4px var(--font-blue);
}

.unitList .filter {
  width: 1200px;
  min-height: 80px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.filter button {
  border: none;
  border-radius: 2px;
  height: 48px;
  width: 120px;
  background: var(--bg-dark);
  text-transform: uppercase;
  color: #fff;
  transition: 0.2s;
  box-shadow: 0 2px 1px var(--font-blue-op);
}
.filter button:hover {
  opacity: 0.8;
  transition: 0.2s;
  cursor: pointer;
}
.filter button:active {
  box-shadow: none;
}
.filter button:disabled {
  opacity: 0.4;
  box-shadow: none;
}

.unitList .unitContainer {
  box-sizing: border-box;
  padding: 40px;
  padding-top: 88px;
  width: 100%;
  background: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
