.welcome {
  width: 80%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.welcome h1 {
  font-weight: 400;
  color: var(--font-blue);
  animation: dropDown 1s;
}
