@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  --bg-dark: #263349;
  --font-blue: #57a1be;
}

body {
  box-sizing: border-box;
  margin: 0;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-dark);
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes dropDown {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}
